.comment-input {
  resize: none;
  font-family: 'Rubik', sans-serif;
  height: 95px;
  flex: 1;
  border: solid 2px var(--grey-100);
  border-radius: 10px;
  padding: 15px 20px;
  width: calc(100% - 20px * 2);

  transition: border-color 0.3s ease;
  &:focus {
    outline: none;
    border-color: var(--purple-200);
  }
}
