.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-container {
  padding: 30px;
  background-color: var(--white);
  border-radius: 10px;
  border: none;

  display: flex;
  flex-direction: column;
  gap: 30px;
}

.modal-title {
  margin: 0;
  color: var(--grey-800);
}

.modal-text {
  margin: 0;
  max-width: 300px;
  color: var(--grey-500);
  font-weight: 500;
}

.modal-actions {
  display: flex;
  gap: 14px;
}

.btn-cancel {
  background-color: var(--grey-800);
}

.btn-cancel:hover {
  background-color: var(--grey-500);
}

.btn-delete {
  background-color: var(--pink-400);
}

.btn-delete:hover {
  background-color: var(--pink-200);
}
