.comment-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.action-btn {
  padding: 0;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  color: var(--purple-600);
  display: flex;
  align-items: center;
  gap: 5px;
  border: none;
  background-color: transparent;
  transition: color 0.3s ease;
}

.action-btn svg path {
  fill: currentColor;
}

.action-btn:hover {
  color: var(--purple-200);
}

.delete-btn {
  color: var(--pink-400);
}

.delete-btn:hover {
  color: var(--pink-200);
}
