:root {
  /* Colors */
  /* Primary */
  --purple-600: hsl(238, 40%, 52%);
  --pink-400: hsl(358, 79%, 66%);
  --purple-200: hsl(239, 57%, 85%);
  --pink-200: hsl(357, 100%, 86%);

  /* Neutral */
  --grey-800: hsl(212, 24%, 26%);
  --grey-500: hsl(211, 10%, 45%);
  --grey-100: hsl(223, 19%, 93%);
  --grey-50: hsl(228, 33%, 97%);
  --white: hsl(0, 100%, 100%);
}

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  background-color: var(--grey-50);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
